header {
	text-align: center;
}
a {
	text-decoration: none;
	color: black;
}
img {
	height: 400px;
	width: 300px;
	padding: 20px;
	background-color: gray;
}
div#target {
	width: 80%;
	margin: auto;
}
div#target div{
	float: left;
	margin: 10px;
}

#next {
	position: fixed;
	bottom: 0;
	right: 100px;
}
.hidden {
	display: none;
}
