
img {
	height: 400px;
	width: 300px;
	padding: 20px;
	background-color: gray;
}

li {
	display: inline;
	margin: 10px;
	float: left;
}

#next {
	position: fixed;
	bottom: 0;
	right: 100px;
}
#city {
	float: right;
	width: 250px;
}