body, html {
	height: 100px;
	margin: 0px;
	padding: 0px;
	font-family: helvetica;
}
header {
	text-align: center;
	height: 300px;
	
}
h1 {
	padding: 20px;
	height: 200px;
}
a {
	text-decoration: none;
	color: black;
	padding: 10px;
	position: relative;
	
}
div#loader {
	display: block;
	width: 30px;
	height: 50px;
	margin: auto;
}
div#loader img {
	position: relative;
	top: 50%;
	right: 50%;
	display: none;
}

div#target {
	width: 1140px;
	margin: auto;
}
div#target div {
	float: left;
	padding: 10px;
	margin: auto;
	
}
div#target img{
	height: 300px;
	width: 300px;
	padding: 20px;
	background-color: #333;
}

